@model MailRequest
@{
    Layout = null;
}

<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map"></a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <div class="alert alert-success">
        <h2>Mail gönderme sayfası</h2>

        <form method="post">
            <label>Alıcı Mail Adresi : </label>
            <input type="text" asp-for="ReceiverMail" class="form-control" />
            <br />
            <label>Mail Konusu : </label>
            <input type="text" asp-for="Subject" class="form-control" />
            <br />
            <label>Mail Adresi : </label>
            <textarea rows="5" asp-for="MessageContent" class="form-control"></textarea>
            <br />
            <button class="btn btn-primary">Gönder</button>
        </form>
    </div>

</div>