html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.shopping-cart-table .sctc td:nth-child(1) {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: 10px !important;
}

.shopping-cart-table .sctc img {
    width: 80px;
    object-fit: cover;
}

/* Sepette Ürün görselleri */
.product-item img {
    height: 400px;
}

.product-img {
    height: 400px;
}

.product-card .card-body .product-content {
    height: 60px;
}
